.feynman__link {
  color: var(--accent-blue);
  font: var(--feynman__link);
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
  transition: opacity 1s ease;
}

.feynman__link:hover {
  opacity: 0.6;
}
