:root {
  /* colors */
  --main-black: #000000;
  --main-white: #fff;
  --background-dark: #1f1f1f;
  --background-light: #f2f2f2;
  --accent-blue: #2f80ed;
  /* fonts */
  --header__title: bold 102px/96px "Helvetica Neue", arial, sans-serif;
  --header__subtitle: normal 18px/25px "Helvetica Neue", arial, sans-serif;
  --two-columns__brief: normal 18px/1.2 "Helvetica Neue", arial, sans-serif;
  --two-columns__paragraph: normal 24px/34px "Helvetica Neue", arial, sans-serif;
  --two-columns__span-accent: bold 24px/34px "Helvetica Neue", arial, sans-serif;
  --section-title: bold 60px/1.15 "Helvetica Neue", arial, sans-serif;
  --section-subtitle: normal 24px/34px "Helvetica Neue", arial, sans-serif;
  --cards__title: bold 24px/1.15 "Helvetica Neue", arial, sans-serif;
  --cards__description: normal 18px/23px "Helvetica Neue", arial, sans-serif;
  --feynman__title: bold 120px/1.15 "Helvetica Neue", arial, sans-serif;
  --feynman__subtitle: normal 36px/51px "Helvetica Neue", arial, sans-serif;
  --feynman__link: normal 36px/51px "Helvetica Neue", arial, sans-serif;
  --table__heading: bold 24px/1.15 "Helvetica Neue", arial, sans-serif;
  --table__text: normal 18px/1.2 "Helvetica Neue", arial, sans-serif;
  --khan__author: normal 30px/42px "Helvetica Neue", arial, sans-serif;
  --khan__title: bold 60px/1.15 "Helvetica Neue", arial, sans-serif;
  --khan__quote: normal 24px/34px "Helvetica Neue", arial, sans-serif;
  --khan__quote-author: bold 24px/1.15 "Helvetica Neue", arial, sans-serif;
  --khan__author-subline: normal 24px/1.15 "Helvetica Neue", arial, sans-serif;
  --khan__buy-link: normal 30px/42px "Helvetica Neue", arial, sans-serif;
  --footer__author: normal 18px/25px "Helvetica Neue", arial, sans-serif;
  --footer__column-heading: bold 18px/30px "Helvetica Neue", arial, sans-serif;
  --footer__column-link: normal 18px/30px "Helvetica Neue", arial, sans-serif;
}

::selection {
  color: var(--main-white);
  background-color: var(--accent-blue);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--main-white);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-blue);
}
